
      
      body {
        background-image: url(FEPX3JEFIVY4GT3.webp);
        background-size: cover;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }
      .head1 {
        text-align: center;
        color: black;
        font-size: large;
      }
      .logo .logo-img {
        width: 6rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 5%;
      }
      .footer-buttons {
        padding: 2rem;
        text-align: center;
        position: relative;
        top: 27rem;
      }
      .footer-buttons a {
        background-color: rgb(99, 98, 98);
        color: antiquewhite;
        padding: 0.7rem;
        margin: 1rem;
        border-radius: 10%;
        text-decoration: none;
      }
      .footer-buttons a:hover {
        background-color: #0056b3;
      }
      .middle {
        padding-top: 270px;
        font-size: 2rem;
        font-weight: bolder;
        color: rgb(243, 244, 248);
      }
      @media screen and (max-width: 500px) {
      body {
        background-image: url(IMG-20241029-WA0019.jpg);
        background-size: cover;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }

        .head1 {
          
          font-size: small;
        }
        .footer-buttons {
          padding: 2rem;
          text-align: center;
          position: relative;
          top: 10rem;
            }
     
          
          
          
        }
  
