{% load static %} {% static "img" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIA</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'files/apple-touch-icon.png' %}>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'files/favicon-32x32.png' %}>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'files/favicon-16x16.png' %}>
    <link rel="manifest" href="{% static 'files/site.webmanifest' %}>
    <link rel="stylesheet" href="{% static 'files/indexx.css' %}" />
  </head>
  <body>
    <div class="logo">
          <img src="{% static 'files/icon1.png' %}" alt="Logo" class="logo-img" />
    </div>
    <footer class="head1">
      <h1>WELCOME TO AL-IMAARAH INTERNATIONAL ACADEMY</h1>
    </footer>
    <div class="footer-buttons">
      <a href="sign" class="b">Sign In</a>
      <a href="login" class="b">Login</a>
    </div>
    <p class="middle">
      <marquee behavior="" direction="">
        Our program is designed for those who wish to improve their skills in Arabic language</marquee
      >
    </p>
  </body>
</html>
