CG{% load static %} {% static "img" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIA</title>
    <link rel="icon" type="image/x-icon" href="{% static 'files/icon1.png' %}"/>
    <link rel="stylesheet"href="{% static 'files/index.css' %}"/>
    <style>
       .center {
          margin: auto;
          width: 60%;
          border: 3px solid #73AD21;
          padding: 10px;
          font:15px;
    
          }
      
    </style>
  </head>
  <body>
    <div class="logo">
          <img src="{% static 'files/icon1.png' %}" alt="Logo" class="logo-img" />
    </div>
    <footer class="head1">
      <h1>WELCOME TO AL-IMAARAH INTERNATIONAL ACADEMY
    </h1>
      <h2 class="center"><a href="https://chat.whatsapp.com/HHSQ3mOz04E3YWJlGjwQBH">Whatsapp link</a></h2>
    </footer>
    <div class="footer-buttons">
      <a href="sign" class="b" onclick="myFunction()">Sign Up</a>
      <a href="login" class="b">Login</a>
    </div>
    <p class="middle">
      <marquee behavior="" direction="">
        Our program is designed for those who wish to improve their skills in Arabic language</marquee>
      
    </p>
    
<script>
function myFunction() {
  alert("join the whatsapp link before sign_up, to get a super_user code");
}
</script>
  </body>
</html>
